/* DEFAULT THEME */
body.default {
  background-color: #ffffff;
  color: #000;
}

/* GRYFFINDOR */
body.gryffindor {
  background-color: #7f0909;
  color: #ffc500;
}

/* SLYTHERIN */
body.slytherin {
  background-color: #1a472a;
  color: #e1ffe1;
}

/* RAVENCLAW */
body.ravenclaw {
  background-color: #0e1a40;
  color: #d4af37;
}

/* HUFFLEPUFF */
body.hufflepuff {
  background-color: #ecb939;
  color: #000;
}

/* Make cards visible on dark themes */
body.gryffindor .card,
body.slytherin .card,
body.ravenclaw .card {
  background-color: white;
}