/* DEFAULT */
body.default{
  background:#ffffff;
  color:#000;
}

/* GRYFFINDOR */
body.gryffindor{
  background:#7f0909 !important;
  color:#ffc500;
}

/* SLYTHERIN */
body.slytherin{
  background:#1a472a !important;
  color:#e1ffe1;
}

/* RAVENCLAW */
body.ravenclaw{
  background:#0e1a40 !important;
  color:#d4af37;
}

/* HUFFLEPUFF */
body.hufflepuff{
  background:#ecb939 !important;
  color:#000;
}

/* Fix Bootstrap containers */
body.gryffindor .container,
body.slytherin .container,
body.ravenclaw .container,
body.hufflepuff .container{
  background:transparent;
}

/* Cards stay readable */
body.gryffindor .card,
body.slytherin .card,
body.ravenclaw .card{
  background:white;
  color:black;
}